/*--- Définition des polices utilisées pour le site ---*/
@font-face 
{
    font-family: 'Roboto';
    src: url('../../font/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-size: 1em;
    font-family: "Roboto";
}