.main__contenu
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @include largeScreen
    {
        margin-top: 90px;
    }
    

    &__photographer-card
    {
        width: calc(400px - 2em);
        margin: 4em 1em;
        background-color: #FFFFFF;
        text-align: center;

        @include largeScreen
        {
            width: calc(300px - 2em);
        }

        &__link
        {
            cursor: pointer;
            text-decoration: none;

            &:focus
            {
                .main__contenu__photographer-card__link__title
                {
                   text-decoration: underline;
                   text-decoration-color: $primary-color;
                }
            }
            
            &__image
            {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                @include boxShadow(lighten($tertiary-color, 50%));
            }

            &__title
            {
                margin-top: 1em;
                font-size: 2em;
                color: $secondary-color;
            }
        }

        &__localisation, &__catchphrase, &__price, &__tag-list
        {
            font-size: 1em;
            margin-top: 0.5em;
            color: #000000;
        }

        &__localisation
        {
            color: $primary-color;
            font-weight: bold;
        }

        &__price
        {
            color: $tertiary-color;
        }

        &__tag-list
        {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &__item
            {
                margin: 0.5em;
            }
        }

    }
}