/* Couleurs principales du site */

$primary-color: #901C1C;
$secondary-color: #D3573C;
$tertiary-color: #525252;
$light-grey: #FAFAFA;

/* Map pour le responsive */
$responsive-breakpoints: 
(
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1400px,
  ultrawide: 2560px
);